.title {
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: flex;
  align-items: center;
}

.logo {
  width: 50px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Optional: Add margin for spacing */
}

li {
  list-style: none;
}


.about {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 150px var(--px) var(--py);
  margin-top: 5%;
}


/* CSS for Reviews section */
.reviews {
  margin-top: 15%;
}

.reviews .col-md-12 {
  margin-bottom: 20px;
}

/* Style for Review List table */
.reviews table {
  width: 100%;
  border-collapse: collapse;
}

.reviews th,
.reviews td {
  padding: 8px;
  border: 1px solid #ddd;
}

.reviews th {
  background-color: #f5f5f5;
}

.reviews tbody tr:hover {
  background-color: #f5f5f5;
}

/* Style for Add Review Form */
.reviews .form-group {
  margin-bottom: 15px;
}

.reviews .control-label {
  padding-top: 7px;
}

.reviews .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.reviews .form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.reviews .btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.reviews .btn-success:hover {
  color: #fff;
  background-color: #4cae4c;
  border-color: #398439;
}

.map-section {
  display: flex;
  align-items: center;
  height: 100vh; /* Optional: adjust the height as needed */
}

.map-container {
  width: 600px; /* Adjust width as needed */
  height: 450px; /* Adjust height as needed */
  margin-right: auto; /* Push the container to the left */
}

.timing-details {
  margin-top: 1%; /* Adjust margin as needed */
  margin-right: 10%;
}

.timing-details h2 {
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

.timing-details p {
  font-size: 18px;
  line-height: 1.6;
  color: #666;
  display: table-row;
}

.timing-details p span {
  display: table-cell;
  padding-right: 20px; /* Adjust spacing between day and timing */
}



/*-----------------------------------*\ 
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  /* colors */
  --red-orange-crayola: hsl(0, 100%, 66%);
  --space-cadet: hsl(249, 37%, 19%);
  --pistachio: hsl(88, 50%, 60%);
  --cultured: hsl(220, 13%, 95%);
  --saffron: hsl(45, 91%, 58%);
  --rhythm: hsl(240, 9%, 51%);
  --white: hsl(0, 0%, 100%);

  /* typography */
  --fs-1: 46px;
  --fs-2: 28px;
  --fs-3: 18px;
  --fs-4: 15px;
  --fs-5: 14px;
  --fs-6: 50px;

  /* spacing */
  --px: 30px;
  --py: 60px;

  /* others */
  --default-transition: 0.75s ease;
}


/*-----------------------------------*\ 
  #MAIN CONTAINER
\*-----------------------------------*/

.container {
  position: relative;
  max-width: 1440px;
  margin: auto;
  background: var(--white);
  overflow: hidden;
}

/*-----------------------------------*\ 
  #HEADER
\*-----------------------------------*/

.navbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 20px 30px;
  background: hsla(0, 0%, 100%, 0.99);
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.05);
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.05);
  z-index: 5;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav {
  background: hsla(0, 0%, 100%, 0.9);
  position: absolute;
  top: 91px;
  left: 0;
  width: 100%;
  height: calc(100vh - 91px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 35px;
  backdrop-filter: blur(10px);
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.3s ease-in-out;
}


.nav-link {
  color: var(--space-cadet);
  font-size: var(--fs-3);
  transition: 0.25s ease;
}





/*-----------------------------------*\ 
  #HOME
\*-----------------------------------*/

.home {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  padding: 150px var(--px) var(--py);
}

.home-left {
  text-align: center;
}

.home-subtext {
  background: var(--cultured);
  color: var(--space-cadet);
  font-size: 13px;
  display: inline-block;
  padding: 3px;
  margin-bottom: 30px;
}

.main-heading {
  color: var(--space-cadet);
  font-size: var(--fs-6);
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

.home-text {
  color: var(--rhythm);
  margin-bottom: 30px;
  line-height: 1.6;
}

.home .btn-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.home-right {
  position: relative;
  aspect-ratio: 10 / 11;
  padding-top: 110%;
}

.food-img {
  position: absolute;
  width: 60%;
}

.food-1 {
  top: 25%;
  left: -4%;
  animation: scaleUp 3s ease-in-out infinite;
}

.food-2 {
  top: 0;
  right: -4%;
  animation: scaleUp 2s ease-in-out infinite;
}

.food-3 {
  bottom: -4%;
  right: -4%;
  animation: scaleUp 4s ease-in-out infinite;
}


@keyframes scaleUp {
  0%, 100% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-5px) scale(1.05);
  }
}

@keyframes moveUp {
  0%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(-8px);
  }
}


